In [6]:
import pandas as pd
import pickle
import numpy as np

### create some sample data

In [42]:
d = {'col1': [1, 2], 'col2': [3, 4]}
mydf = pd.DataFrame(d)
newdf = pd.DataFrame(np.arange(1,100000), columns=['id'])
newdf['col1'] = 1
finaldf = pd.merge(mydf,newdf,on='col1')
finaldf.to_pickle('mydf100krows.pk')

### Downloaded the pk file and uploaded to blob storage. then i will use the file dataset to load the file back> 
Next few lines of code is just using azure ml sdk to get a pointer to registered file dataset. we will then use the mounted path to read the file.

In [3]:
# azureml-core of version 1.0.72 or higher is required
from azureml.core import Workspace, Dataset

subscription_id = 'bd04922c-a444-43dc-892f-74d5090f8a9a'
resource_group = 'mlplayarearg'
workspace_name = 'testdeployment'

workspace = Workspace(subscription_id, resource_group, workspace_name)

dataset = Dataset.get_by_name(workspace, name='somedataroot')

In [35]:
import tempfile
mounted_path = tempfile.mkdtemp()
print(mounted_path)
# mount dataset onto the mounted_path of a Linux-based compute
mount_context = dataset.mount(mounted_path)

mount_context.start()

import os
print(os.listdir(mounted_path))

/tmp/tmp6547btg6
['20201020', 'FamilyFriendlyAndAdulttour.pdf', 'acquariumsticket.pdf', 'mydata.csv', 'mydf.pk', 'mydf100krows.pk', 'sample_string1.csv', 'sample_string1', 'testdataatroot.csv', 'testdataatroot2.csv', 'testfile.txt']

### Read the pk file.

In [40]:
mydfloadedback = pd.read_pickle(os.path.join(mounted_path,'mydf100krows.pk'))

In [41]:
mydfloadedback

       col1  col2     id
0         1     3      1
1         1     3      2
2         1     3      3
3         1     3      4
4         1     3      5
5         1     3      6
6         1     3      7
7         1     3      8
8         1     3      9
9         1     3     10
10        1     3     11
11        1     3     12
12        1     3     13
13        1     3     14
14        1     3     15
15        1     3     16
16        1     3     17
17        1     3     18
18        1     3     19
19        1     3     20
20        1     3     21
21        1     3     22
22        1     3     23
23        1     3     24
24        1     3     25
25        1     3     26
26        1     3     27
27        1     3     28
28        1     3     29
29        1     3     30
...     ...   ...    ...
99969     1     3  99970
99970     1     3  99971
99971     1     3  99972
99972     1     3  99973
99973     1     3  99974
99974     1     3  99975
99975     1     3  99976
99976     1     3  99977
99977     1     3  99978
99978     1     3  99979
99979     1     3  99980
99980     1     3  99981
99981     1     3  99982
99982     1     3  99983
99983     1     3  99984
99984     1     3  99985
99985     1     3  99986
99986     1     3  99987
99987     1     3  99988
99988     1     3  99989
99989     1     3  99990
99990     1     3  99991
99991     1     3  99992
99992     1     3  99993
99993     1     3  99994
99994     1     3  99995
99995     1     3  99996
99996     1     3  99997
99997     1     3  99998
99998     1     3  99999

[99999 rows x 3 columns]

In [11]:
from azureml.core import Dataset, Datastore


dataset = Dataset.get_by_name(workspace, name='testpickle')

### Create dataset on the fly pointing to just one pickle file and then loading it

In [13]:
datastore = Datastore(workspace, name='newdatastoremanish')
datastore_paths = [(datastore, 'somedata/mydf100krows.pk')]
somedata = Dataset.File.from_files(path=datastore_paths)

In [14]:
import tempfile
mounted_path = tempfile.mkdtemp()
print(mounted_path)
# mount dataset onto the mounted_path of a Linux-based compute
mount_context = somedata.mount(mounted_path)

mount_context.start()

import os
print(os.listdir(mounted_path))

/tmp/tmpcgpo_v6m
['mydf100krows.pk']

In [16]:
mydata =  pd.read_pickle(os.path.join(mounted_path,os.listdir(mounted_path)[0]))

In [17]:
mydata

       col1  col2     id
0         1     3      1
1         1     3      2
2         1     3      3
3         1     3      4
4         1     3      5
5         1     3      6
6         1     3      7
7         1     3      8
8         1     3      9
9         1     3     10
10        1     3     11
11        1     3     12
12        1     3     13
13        1     3     14
14        1     3     15
15        1     3     16
16        1     3     17
17        1     3     18
18        1     3     19
19        1     3     20
20        1     3     21
21        1     3     22
22        1     3     23
23        1     3     24
24        1     3     25
25        1     3     26
26        1     3     27
27        1     3     28
28        1     3     29
29        1     3     30
...     ...   ...    ...
99969     1     3  99970
99970     1     3  99971
99971     1     3  99972
99972     1     3  99973
99973     1     3  99974
99974     1     3  99975
99975     1     3  99976
99976     1     3  99977
99977     1     3  99978
99978     1     3  99979
99979     1     3  99980
99980     1     3  99981
99981     1     3  99982
99982     1     3  99983
99983     1     3  99984
99984     1     3  99985
99985     1     3  99986
99986     1     3  99987
99987     1     3  99988
99988     1     3  99989
99989     1     3  99990
99990     1     3  99991
99991     1     3  99992
99992     1     3  99993
99993     1     3  99994
99994     1     3  99995
99995     1     3  99996
99996     1     3  99997
99997     1     3  99998
99998     1     3  99999

[99999 rows x 3 columns]